:root{
    --blue: #509CF7;
    --white: #fff;
    --black: #000000;
}
/*---------------------BODYS--------------------*/
#bodylogin{
    margin: 0;
    background-image: url("../imagenes/imagen1.jpg");
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
#bodycitas{
    padding: 3.5rem ;
    background-color: lightgray;
    text-align: center;
}
#bodycita{
    background-color: #11d1f3ce;
    font-family: Arial;
    text-align: center;
}

/*CARACTERISTICAS DEL HTML EN GENERAL: letras y posiciones*/
body{
    overflow-x: hidden;
    font-family:sans-serif;
    font-size: 1rem;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    transition: all .3s linear;
    box-sizing: border-box;
}


/*CARACTERISTICAS DEL MENU*/
#header{
    width: 100%;
    position: fixed;
    top: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
    z-index: 1000;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

nav ul li{
    margin-right: 4rem;
}

nav ul li a{
    color:var(--white);
    font-size: 1rem;
    text-decoration: none;
}

nav ul li a:hover{
    color: var(--blue);
}

.header-active{
    background: #333;
    height: 5.5rem;
    box-shadow: .2rem 0 .5rem #000;
}

#btn_menu{
    display: none;
}


/*--------MENU SECTION--------*/
/*Inicio: */
#inicio{
    background-image:url("./imagenes/VideoPresentacion.mp4"); 
    background: linear-gradient(0deg, rgba(0,0,0,.6), rgba(0,0,0,.6));
    position:relative;
    padding: 16%;
}


.content h1{
    font-size: 3.5rem;
    color: var(--blue);
}

.content h2{
    font-size: 2.5rem;
    color: var(--white);
}

.content p{
    font-size: 1rem;
    color: #cccccc;
}

button{
    width: 14rem;
    height: 2.5rem;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5rem;
    color: #333;
    background: var(--white);
    font-weight: bold;
    letter-spacing: .2rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

button::before{
    content: "";
    position: absolute;
    top: 0; left: 0;
    background: var(--blue);
    height: 100%;
    width: 0%;
    transition: .2s;
    z-index: -1;
}

button:hover::before{
    width: 100%;
}


/*video de fondo */
.video-container{
    position: fixed;
    top: 0rem; left: 0rem;
    height: 100%;
    width: 100%;
    z-index:-1;
}

.video-container .vid{
    position: fixed;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    display: none;
}

.video-container .vid1{
    display: block;
}

.container, .container-fluid{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

/*Como trabajamos: */
#comotrabajamos{
    background: black;
    min-height: 100vh;
    margin-top: -6rem;
    padding: 4rem;
}


.heading h1{
    font-size: 4rem;
    color: var(--white);
    padding-top: 5rem;
    margin-bottom: 2rem;
}

.heading h1 span{
    color: var(--blue);
}

.heading p{
    color: #ccc;
    font-size: 2rem;
}

.card-container{
    width: 95%;
    margin: 7rem auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card{
    height: 41rem;
    width: 31rem;
    background:#f5f5f5;
    padding: 1rem;
    margin: 2rem;
    text-align: center;
}

.card img{
    height: 50%;
    width: 100%;
    object-fit: cover;
}

.card p{
    font-size: 1.4rem;
    margin: 2rem 0;
}

.card:hover{
    transform: scale(0.8);
}


/*Sobre nosotros: */
#sobreNosotros{
    background: white;
    min-height: 100vh;
    padding: 5.5rem;
}

#sobreNosotros .heading h1{
    color: var(--blue); 
}

#sobreNosotros .heading h1 span{
    color: #000;
}

#sobreNosotros .content{
    margin: 5rem auto;
}

#sobreNosotros .content p{
    font-size: 1.5rem;
}

#sobreNosotros .content button{
    margin: 5rem auto;
    height: 4rem;
    width: 14rem;
    background: #333;
    color: var(--white);
    text-align: center;
    }

#sobreNosotros .content button:hover{
    color: #333333;
}


/*Tratamietos:*/
#tratamientos{
    background:white;
    min-height: 100vh;
    width: 100vw;
    padding: 0.1rem;
}

#tratamientos .heading h1{
    color: #000;
    padding-top: 2rem;
}

#tratamientos .heading span{
    color: var(--blue);
}
.box-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1rem auto;
    width: 90%;
}

.box-container .box{
    height: 20rem;
    width: 25rem;
    border-radius: .5rem;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 .5rem #333;
    margin: 2rem;
}

.box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.box-container .inf{
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    background: rgba(51,51,51, .6);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    color: var(--white);
    transform: scale(0);
}

.box-container .inf h3{
    font-size: 2rem;
}

.box-container .inf p{
    font-size: 1rem;
    border-bottom: .2rem double var(--blue);
    border-top: .2rem dotted var(--blue);
    margin: 1rem 2rem;
}

.box-container .box:hover .inf{
    transform: scale(1);
}

/*Contacto:*/
#contacto{
    background: url("../imagenes/fondocontacto.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100vw;
    padding: 4.5rem;

}

#contacto .row{
    margin:auto;
}

#contacto form{
    background: var(--white);
    padding-top: 2rem;
    margin: 1rem 2rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0 0 2rem #333;
    box-shadow: 0 0 2rem #333;
}
#contacto form .inputBox{
    position: relative;
    text-align: center;
}

#contacto form .inputBox input, textarea {
    outline: none;
    border: .1rem solid #333;
    border-radius: .2rem;
    margin: 2rem 0;
    padding: 0 1rem;
    background: none;
    height: 3rem;
    width: 90%;
    font-size: .5rem;
}

#contacto form .inputBox input:focus ~ h3,
#contacto form .inputBox input:valid ~ h3, 
#contacto form .inputBox textarea:focus ~ h3,
#contacto form .inputBox textarea:valid ~ h3 {
    font-size: 1rem;
    left: 6%;
    top: -.5rem;
    color: var(--blue);
}

.inputBox textarea{
    padding: 1rem;
    resize: none;
    height: 20rem;
}

.inputBox h3{
    position: absolute;
    top: 3rem; left: 7%;
    font-size: 1rem;
}

form input[type="submit"]{
    height: 3rem;
    width: 9rem;
    margin-bottom: 2rem;
    margin-left: 4%;
    border: none;
    border-radius: 2rem;
    background: #333;
    color: var(--white);
}

form input[type="submit"]:hover{
    color: #333;
    background: var(--blue);
}
/*RESPONSIVE*/
/* 
@media screen and (max-width: 768px){
    html{
        font-size: 50%;
    }

    .bars, .wrong{
        display: block;
    }

    nav{
        position: fixed;
        top: 0; left: -120%;
        height: 100vh;
        width: 35rem;
        background: #000;
    }

    nav ul{
        flex-flow: column;
        justify-content: center;
        height: 100%;
    }

    nav ul li{
        margin: 2rem 0;
    }

    nav ul li a{
        font-size: 2.5rem;
        border-radius: 5rem;
    }

    nav ul li a:hover{
        padding: .5rem 7.5rem;
        color: #333333;
        background: var(--blue);
    }

    .nav-toggle{
        left: 0;
    }
} */

/*-------------------LIMPIAR CODIGO:--------------------*/

/*CITAS HTML*/

#formcitas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;
    max-width: 800px;
    margin-top: 2.8rem;
    margin-right: auto;
    margin-left: auto;
}

#main-container{
    margin: 150px auto;
    width: 600px;
}

.field{
    display: flex;
    flex-direction: column;

    width: 14rem;
    margin: 0.5rem 0;
}

.field label{
    font-size: 0.9rem;

    margin-bottom: 0.2rem;

    color: #696969;
}

.field input{
    font-size: 1.1rem;

    height: 2.2rem;
    padding-left: 0.5rem;

    border: 2px solid #696969;
    border-radius: 5px;
}

.field select{
    font-size: 1.1rem;

    width: 12rem;
    height: 2.6rem;
    padding-left: 0.5rem;

    border: 2px solid #696969;
    border-radius: 5px;
}

.textBox{
    display: flex;
    flex-direction: column;

    width: 25rem;
    margin: 0.75rem 0;
}

textarea{
    font-size: 1.1rem;

    max-width: 100%;
    height: 5rem;
    max-height: 15rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;

    border: 2px solid #696969;
    border-radius: 5px;
}

.textBox label{
    font-size: 0.9rem;

    margin-bottom: 0.2rem;

    color: #696969;
}

.gustos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 20rem;
    margin: 0.75rem 0;
}

.gustos label{
    font-size: 0.9rem;

    margin-bottom: 0.2rem;

    color: #696969;
}

.gustos div{
    display: flex;
    justify-content: flex-start;

    width: 100%;
    padding-left: 0.5rem;
}

.gustos div input{
    width: 1rem;
    height: 1rem;
}
table{
    background-color: white;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}

th, td{
    padding: 20px;
}

thead{
    background-color: #3e6da3;
    border-bottom: solid 5px #fbfcfb;
    color: white;
}

tr:nth-child(even){
    background-color: #ddd;
}

tr:hover td{
    background-color: #49a2b8;
    color: white;
}
/*RESPONSIVE*/

@media screen and (max-width: 928px){
    /*Cambiamos el fondo y las letras del section inicio*/
    #inicio{
    background: var(--blue);
    }

    .content h1{
    font-size: 3.5rem;
    color: var(--black);
    }

    #bodylogin{
    background: var(--blue);

    }

    /*Cambiamos el formato del menu:*/
    /* Lo ponemos para el lado izq*/
    nav{
        position: fixed;
        top: 0; left: -250px;
        height: 100vh;
        width: 240px;
        background: #333;  
        z-index: 1;
        transition: all 300ms;
    } 
    /*Como teniamos puesto display: flex; lo cual hace que este el texto uno al aldo del otro ponemos esto que lo ponen uno debajo del otro */
    nav ul{
    flex-direction: column;

    }
    /*Como teniamos puesto display: flex; lo cual hace que este el texto uno al aldo del otro ponemos esto que lo ponen uno debajo del otro */
    nav ul li{
    margin-top: 35px;
    margin-right: 0;
    }
    /*Creamos un div en html para que quede por encima este menu nuevo*/
       #back_menu{
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.5);
        display: none;
    }
    
     #btn_menu{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background: rgba(255, 255, 255, 0.1);
        font-size: 24px;
        border-radius: 50px;
        cursor: pointer;
        transition: all 300ms;
    }

    #btn_menu:hover{
        background: rgba(255, 255, 255, 0.2);
    }

}